# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
/config
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
/my-network/organizations/fabric-ca/company/fabric-ca-server-config.yaml
/my-network/organizations/fabric-ca/trader/fabric-ca-server-config.yaml
