<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
</head>
<body>
<h1>{{ .title }}</h1>
<form action="/register">
    <button type="submit"> Register </button>
    <button type="submit" formaction="/view/c"> ViewCompanies </button>
    <button type="submit" formaction="/view/t"> ViewTraders </button>
</form>
</body>
</html>