<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
</head>
<body>
<h1>{{ .title }}</h1>
<form action="/register" method="POST">
    <label for="username"> Company/Trader name: </label><br>
    <input type="text" id="username" name="name"><br>
    <label for="userID"> Stock symbol / Trader ID: </label><br>
    <input type="text" id="userID" name="accountID"><br>
    <label for="org"> Role: </label><br>
    <select id="org" name="org"><br>
        <option value="trader">trader</option>
        <option value="issuer">compnay</option>
    </select>
    <br>
    <button type="submit"> Register </button>
</form>

</body>
</html>